version: 3.8

services:
    app:
        build:
          context: .
          dockerfile: Dockerfile
        container_name: fastapi_app
        ports:
            - "8000:8000"


    qdrant:
        image: docker.io/qdrant/qdrant:latest
        container_name: qdrant_db
        ports:
            - "6333:6333"
            - "6334:6334"
        volumes:
            - qdrant_storage:/qdrant/storage

volumes:
  qdrant_storage:
